__pycache__/
*.pyc

.git
.pytest_cache
.ruff_cache
.venv

logs
infrastructure
.env
.gitignore
.pre-commit-config.yaml
docker-compose.yml
Dockerfile
tests
init.sql
Makefile
pyproject.toml
requirements-dev.txt
