name: PR Checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: write # needed for merging
  pull-requests: write # needed for enabling auto-merge

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      dynamodb:
        image: amazon/dynamodb-local:latest
        ports:
          - 8000:8000
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            requirements-dev.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Run tests
        run: python -m pytest tests --no-cov
        env:
          TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

  automerge-dependabot:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{secrets.GITHUB_TOKEN}}"

      - name: Enable auto-merge (if Dependabot PR)
        if: |
          steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
          steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --squash "${{github.event.pull_request.html_url}}"
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
